/*This file override gxt widget style*/
.x-border-layout-ct {
    background: none !important;
}

.x-grid3-hd-row .x-grid3-hd, .x-grid3-row .x-grid3-cell, .x-grid3-summary-row .x-grid3-cell {
    font: normal 13px arial, tahoma, helvetica, sans-serif;
}

.x-window-mc {
    border-color: #99bbe8;
    font: normal 14px tahoma, arial, helvetica, sans-serif;
    background-color: #dfe8f6;
}

.x-window-dlg .ext-mb-text,
.x-window-dlg .x-window-header-text {
    font-size: 14px;
}

.x-btn button {
    font: normal 13px arial, tahoma, verdana, helvetica;
    color: #333;
}

.x-panel-tl .x-panel-header {
    color:#15428b;
	font-weight:bold;
    font-size: 13px;
    font-family: tahoma,arial,verdana,sans-serif;
}

.x-form-item {
  font: normal 13px tahoma, arial, helvetica, sans-serif;
}

.x-window-tl .x-window-header {
    color:#15428b;
	font:bold 14px tahoma,arial,verdana,sans-serif;
}