/*
* { margin: 0;	padding: 0; }
*/
body {
    margin: auto !important;
    width: 100% !important;
}

#banner_panel {
    width: 100%;
}

#top_panel {
    width: 100%;
}

#left_panel {
    float: left;
    width: 200px;
}

#content_panel {
    float: left;
    width: 100%;
    height: 510px;
}

#right_panel {
    float: right;
    width: 200px;
}

#bottom_panel {
    clear: left;
    width: 100%;
}

#loading {
    text-align: center;
    width: 100%;
}

/*table {*/
/*border: solid #666666;*/
/*}*/