#banner_panel {
    background: #1C3D7A;
}

.topmenu .active {
    background: #EFD137;
}

.topmenu {
    border-bottom:thin solid lightgray;
}

.copyright_panel {
    padding-top: 50px;
    text-align: center;
}

.login_panel {
    width: 100%;
    vertical-align: middle;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}
