#banner_panel {
    background: #1C3D7A;
}

#top_panel .active a {
    background: #EFD137;
}

#top_panel a, a:visited {
    text-decoration: none;
    color: #0000EE;
}

#top_panel .menulink {
    border-right: #083772 1px solid;
    padding-right: 6px;
}

#loading_container {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#loading_panel {
    font-size: 16px;
    font-weight: bold;
    background: #FFF1A8;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}
