<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Spring Integration -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>com.qlvt.server.servlet.SpringStandardDispatchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/service/dispatch</url-pattern>
    </servlet-mapping>

    <!--end-->

    <!-- Guice Filter-->
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Application Context Listener -->
    <listener>
        <listener-class>com.qlvt.server.servlet.listener.ApplicationContextListener</listener-class>
    </listener>

    <!-- Guice Context Listener -->
    <!--<listener>-->
        <!--<listener-class>com.qlvt.server.servlet.listener.GuiceContextListener</listener-class>-->
    <!--</listener>-->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>